In [1]:
import requests
import json
from config import api_key
from pprint import pprint
import pandas as pd

In [3]:
url = f'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={api_key}'

In [4]:
response = requests.get(url).json()

In [5]:
asteroid_list = []
for asteroid in response['near_earth_objects']:
    
    for date in asteroid['close_approach_data']:
        
        speed = date['relative_velocity']['miles_per_hour']
        distance = date['miss_distance']['lunar']
        close_date = date['close_approach_date']
    
        asteroid_list.append({
            'name': asteroid['name_limited'],
            'id': asteroid['id'],
            'est_dia_max': asteroid['estimated_diameter']['kilometers']['estimated_diameter_max'],
            'est_dia_min': asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
            'speed': speed,
            'distance': distance,
            'date': close_date
        })

In [6]:
asteroid_data_df = pd.json_normalize(asteroid_list)

In [7]:
asteroid_data_df['estimated_diameter'] = (asteroid_data_df['est_dia_max'] + asteroid_data_df['est_dia_min']) / 2
asteroid_data_df['id'] = asteroid_data_df['id'].astype('int64')
asteroid_data_df['speed'] = asteroid_data_df['speed'].astype('float64')
asteroid_data_df['distance'] = asteroid_data_df['distance'].astype('float64')
asteroid_data_df['date'] = pd.to_datetime(asteroid_data_df['date'])

In [8]:
asteroid_data_df

,name,id,est_dia_max,est_dia_min,speed,distance,date,estimated_diameter
0,Eros,2000433,51.527608,23.043847,12478.813260,122.507447,1900-12-27,37.285727
1,Eros,2000433,51.527608,23.043847,9830.036668,183.407876,1907-11-05,37.285727
2,Eros,2000433,51.527608,23.043847,10774.664171,194.211053,1917-04-20,37.285727
3,Eros,2000433,51.527608,23.043847,10280.915173,139.956944,1924-03-05,37.285727
4,Eros,2000433,51.527608,23.043847,13244.278979,67.714454,1931-01-30,37.285727
...,...,...,...,...,...,...,...,...
899,Tezcatlipoca,2001980,10.376239,4.640395,39251.244160,115.516228,2149-11-18,7.508317
900,Tezcatlipoca,2001980,10.376239,4.640395,31574.650038,117.833540,2158-11-17,7.508317
901,Tezcatlipoca,2001980,10.376239,4.640395,28402.239451,194.311307,2187-07-08,7.508317
902,Tezcatlipoca,2001980,10.376239,4.640395,39643.601866,117.808332,2187-11-18,7.508317
903,Tezcatlipoca,2001980,10.376239,4.640395,31754.482074,114.443286,2196-11-17,7.508317