In [41]:
import requests
import json
from config import api_key
from pprint import pprint
from datetime import date
import pandas as pd

In [37]:
today = date.today()

In [2]:
url = f'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={api_key}'

In [3]:
response = requests.get(url).json()

In [76]:
asteroid_list = []
for asteroid in response['near_earth_objects']:
    
    for date in asteroid['close_approach_data']:
        if pd.to_datetime(date['close_approach_date']) > pd.to_datetime(today):
            break
        else:
            speed = date['relative_velocity']['miles_per_hour']
            distance = date['miss_distance']['lunar']
            close_date = date['close_approach_date']
    
    asteroid_list.append({
        'name': asteroid['name_limited'],
        'id': asteroid['id'],
        'est_dia_max': asteroid['estimated_diameter']['kilometers']['estimated_diameter_max'],
        'est_dia_min': asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
        'speed': speed,
        'distance': distance,
        'date': close_date
    })

In [78]:
asteroid_data_df = pd.json_normalize(asteroid_list)

In [83]:
asteroid_data_df['estimated_diameter'] = (asteroid_data_df['est_dia_max'] + asteroid_data_df['est_dia_min']) / 2
asteroid_data_df['id'] = asteroid_data_df['id'].astype('int64')
asteroid_data_df['speed'] = asteroid_data_df['speed'].astype('float64')
asteroid_data_df['distance'] = asteroid_data_df['distance'].astype('float64')
asteroid_data_df['date'] = pd.to_datetime(asteroid_data_df['date'])

In [84]:
asteroid_data_df

,name,id,est_dia_max,est_dia_min,speed,distance,date,estimated_diameter
0,Eros,2000433,51.527608,23.043847,13521.876221,81.144889,2019-01-15,37.285727
1,Albert,2000719,4.529393,2.025606,8330.503162,578.286915,2003-10-26,3.277499
2,Alinda,2000887,10.186852,4.555699,26087.171803,131.468732,1977-12-15,7.371275
3,Ganymed,2001036,85.514543,38.243266,31998.186014,139.691569,2011-10-13,61.878905
4,Amor,2001221,1.986278,0.888290,34896.974690,143.156930,1988-03-05,1.437284
5,Icarus,2001566,2.978791,1.332156,48547.442966,170.702524,2019-09-06,2.155473
6,Betulia,2001580,6.855513,3.065879,67843.247890,137.000181,2015-06-03,4.960696
7,Geographos,2001620,5.129086,2.293797,34187.749415,53.393237,2019-08-31,3.711441
8,Ivar,2001627,16.750971,7.491262,23488.812139,110.475255,2018-08-12,12.121116
9,Toro,2001685,8.166575,3.652204,47473.081873,128.821384,2020-07-27,5.909390
10,Apollo,2001862,3.564839,1.594245,52689.239259,82.319816,2021-11-22,2.579542
11,Antinous,2001863,4.853332,2.170476,45264.634494,92.261874,2016-03-27,3.511904
12,Daedalus,2001864,6.607543,2.954983,31271.289679,169.170331,2017-05-08,4.781263
13,Cerberus,2001865,2.594418,1.160259,53635.039085,158.592416,2020-07-21,1.877339
14,Sisyphus,2001866,19.321462,8.640820,53681.880404,175.195525,2019-06-14,13.981141
15,Quetzalcoatl,2001915,1.458949,0.652462,39623.840465,134.655942,1989-03-20,1.055705
16,Boreas,2001916,6.081910,2.719913,15887.275641,138.646442,2001-08-24,4.400911
17,Cuyo,2001917,8.017519,3.585543,45299.516511,161.016852,2008-09-09,5.801531
18,Anteros,2001943,4.325536,1.934439,24623.500937,106.567420,2014-06-08,3.129988
19,Tezcatlipoca,2001980,10.376239,4.640395,31133.045051,128.527833,2006-11-17,7.508317